node_modules
.pnpm-store
.next
dist
.turbo
.env
.env.local
*.log
.DS_Store
coverage
*.tsbuildinfo
apps/player/public/sw.js
apps/player/public/sw.js.map
apps/player/public/avatars/custom/*
!apps/player/public/avatars/custom/.gitkeep
